.container {
  width: 70%;
  height: 250px;
  background: #71B2C91A;
  padding: 50px;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.routeData {
  margin-left: 40px;
  flex-grow: 2;
  color: #707070;
  line-height: 1.6;
}

.routeTitle {
  font-family: "NotoSans-Bold";
  color: #707070;
  margin: 0;
}

.completedDistance {
  color: #339526;
  font-family: "NotoSans-Bold";
  font-size: 20px;
}
