.container {
  width: 70%;
  min-height: 250px;
  background: #71B2C91A;
  padding: 50px;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  padding: 10px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  background: #339526 0% 0% no-repeat padding-box;
  font-weight: lighter;
  border-radius: 3px;
  opacity: 1;
}

.routeData {
  margin-left: 40px;
  flex-grow: 2;
  color: #707070;
  line-height: 1.6;
}

.content {
  padding-top: 100px;
  width:400px;
  font-weight: medium;
  transition: height 1s;
}

.collapse {
  float: right;
  color: "#707070";
}

.collapsed {
  height: 0;
  padding-top: 0;
  overflow: hidden;
}

.routeTitle {
  font-family: "NotoSans-Bold";
  color: #707070;
  margin: 0;
}

.completedDistance {
  color: #339526;
  font-family: "NotoSans-Bold";
  font-size: 20px;
}

.incompleteDistance {
}
