.container {
  position: relative;
  width: 100px;
}

.progressCircle {
  border-radius: 100%;
  width: 100%;
  height: 100px;
}

.inactive {
  background: #707070;
  border: #707070 solid 1px;
}

.activated {
  background: #0FFB500;
  border: #0FFB500 solid 1px;
}

.progressBar {
  width: 5px;
  height: 230px;
  margin-top: -1px;
  position: absolute;
  left: 50%;
}

