.container {
  position: relative;
  width: 150px;
}

.progressCircle {
  border-radius: 100%;
  width: 100%;
  height: 150px;
  background: #707070;
  border-width: 8px;
  border-style: solid;
  z-index: 100;
  position: relative;
  background-position: center;
  background-size: contain;
}

.inactive {
  border-color: #707070;
}

.activated {
  border-color: #FFB500;
}

.progressBar {
  width: 5px;
  height: 230px;
  margin-top: -1px;
  position: absolute;
  left: 50%;
  border-width: 4px;
  border-style: solid;
}

.progressBar.activated {
  z-index: 99;
}
